.Messages .Message {

  padding: 10px 20px;
  color: #fff;
  opacity: 1;

  transition: opacity 1s;
  -webkit-transition: opacity 1s;
}

.Messages .Message.info { background-color: #0c0; }
.Messages .Message.error { background-color: #c00; }
.Messages .Message.warn { background-color: rgb(241, 157, 0); }
.Messages .Message.Hide { opacity: 0; }