
html,
body {

  padding: 0;
  margin: 0;
  height: 100%;
}

* {
  
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#root {

  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

button {

  background-color: #fff;
  border-radius: 0;
  padding: 10px 15px;
  border: solid #ccc 1px;
  cursor: pointer;

  &:focus, 
  &:focus {
    
    outline: none;
  }
}